<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculator</title>
        <link rel="stylesheet" href="../Styles/calcStyle.css">
    </head>
    <body>
        <div class="calc">
            <div class="display">
                Output
            </div>

            <div class="keys">
                <button class="op">+</button>  
                <button class="op">-</button>
                <button class="op">×</button>
                <button class="op">÷</button>

                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button class="spc-button">=</button>
                
                <button>4</button>
                <button>5</button>
                <button>6</button>

                <button>1</button>
                <button>2</button>
                <button>3</button>

                <button>0</button>
                <button>.</button>
                <button>C</button>
            </div>
        </div>  
    </body>
</html>