<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Music Player</title>
        <link rel="stylesheet" href="/Styles/mp3.css">
    </head>
    <body>
        <button onclick="window.location.href = './ProjectList.html';" class="back-button"> 
            <span class="weui--back-filled"></span> Back
        </button>
        <div class="bg-color"></div>
        <main>
            <div class="player-container">
                <div class="disk">
                    <div class="disk-hole"></div>
                </div>
                <div class="controller">
                    <div class="backward-controller">
                        <span class="f7--backward-fill"></span>
                    </div>
                    <div class="pause-play-controller">
                        <span class="famicons--play"></span>
                        <span class="material-symbols--pause-rounded"></span>
                    </div>
                    <div class="forward-controller">
                        <span class="f7--forward-fill"></span>
                    </div>
                </div>
            </div>
        </main>
        <script src="/Script/mp3Script.js"></script>        
    </body>
</html>