<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project List</title>
        <link rel="stylesheet" href="../Styles/prjPageStyle.css">
    </head>
    <body>
        <header>
            <div class="title-container">
                <h1>PROJECT HUB</h1>
            </div>
        </header>
        <main>
            <div class="card-container">
                <h2>Project List</h2>
                <div class="card calc-card">
                    <img draggable="false" (dragstart)="false;" src="../Assets/CardImageTest.png" alt="card_image">
                    <h2>Calculator</h2>
                    <span>A user-friendly calculator for basic arithmetic operations.</span>
                    <h4>Created at: 23/12/2024</h4>                        
                </div>
            </div>
        </main>
        <footer>
            <h3> &#174; 2024 Sovichet Rathanak. All rights reserved.</h3>
        </footer>
    </body>
</html>