<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project List</title>
        <link rel="stylesheet" href="../Styles/prjPageStyle.css">
    </head>
    <body>
        <header>
            <div class="title-container">
                <h1 onclick="window.location.href = '../index.html';" style="cursor: pointer;">PROJECT HUB</h1>
            </div>
        </header>
        <main>
            <h2 class="container-header">Project List</h2>
            <div class="card-container">
                <div class="card calc-card" onclick="window.location.href = './Calc.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/Calculator-cuate.png" alt="card_image">
                    <h2>Calculator</h2>
                    <span>A user-friendly calculator for basic arithmetic operations.</span>
                    <h4>Created at: 23/12/2024</h4>                        
                </div>
                <div class="card calc-card" onclick="window.location.href = './Typing.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/Typing-bro.png" alt="card_image">
                    <h2>Typing Test</h2>
                    <span>Test your typing speed, heavily inspired by MonkeyType.</span>
                    <h4>Created at: 19/01/2025</h4>                        
                </div>
                <div class="card todo-card" onclick="window.location.href = './todo.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/todo.png" alt="card_image">
                    <h2>To Do List</h2>
                    <span>A drag-and-drop style To Do List based on github backlog</span>
                    <h4>Created at: 25/01/2025</h4>                        
                </div>
                <div class="card todo-card" onclick="window.location.href = './Player.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/mp3.png" alt="card_image">
                    <h2>Music Player</h2>
                    <span>A simple MP3 player containing some of my favorite music.</span>
                    <h4>Created at: 05/02/2025</h4>                        
                </div>
                <div class="card todo-card" onclick="window.location.href = './Weather.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/weather.png" alt="card_image">
                    <h2>Weather App</h2>
                    <span>A simple app to forcast current and future weather.</span>
                    <h4>Created at: 09/02/2025</h4>                        
                </div>
                <div class="card todo-card" onclick="window.location.href = './Tamagotchi.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/gaming.png" alt="card_image">
                    <h2>Tamagotchi</h2>
                    <span>A virtual pet game, you have to take care of it needs.</span>
                    <h4>Created at: 12/02/2025</h4>                        
                </div>                
                <div class="card todo-card" onclick="window.location.href = './Trivia.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/trivia.png" alt="card_image">
                    <h2>Trivia Game</h2>
                    <span>A quizz game where user have to choose one correct answer.</span>
                    <h4>Created at: 14/02/2025</h4>                        
                </div>
            </div>
        </main>
        <footer>
            <h3> &#174; 2024 Sovichet Rathanak. All rights reserved.</h3>
        </footer>
    </body>
</html>