<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project List</title>
        <link rel="stylesheet" href="../Styles/prjPageStyle.css">
    </head>
    <body>
        <header>
            <div class="title-container">
                <h1 onclick="window.location.href = '../index.html';" style="cursor: pointer;">PROJECT HUB</h1>
            </div>
        </header>
        <main>
            <h2 class="container-header">Project List</h2>
            <div class="card-container">
                <div class="card calc-card" onclick="window.location.href = './Calc.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/Calculator-cuate.png" alt="card_image">
                    <h2>Calculator</h2>
                    <span>A user-friendly calculator for basic arithmetic operations.</span>
                    <h4>Created at: 23/12/2024</h4>                        
                </div>
                <div class="card calc-card" onclick="window.location.href = './Typing.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/Typing-bro.png" alt="card_image">
                    <h2>Typing Test</h2>
                    <span>Test your typing speed, heavily inspired by MonkeyType.</span>
                    <h4>Created at: 19/01/2025</h4>                        
                </div>
                <div class="card todo-card" onclick="window.location.href = './todo.html'">
                    <img draggable="false" (dragstart)="false;" src="../Assets/todo.png" alt="card_image">
                    <h2>To Do List</h2>
                    <span>A drag-and-drop style To Do List based on github backlog</span>
                    <h4>Created at: 25/01/2025</h4>                        
                </div>
            </div>
        </main>
        <footer>
            <h3> &#174; 2024 Sovichet Rathanak. All rights reserved.</h3>
        </footer>
    </body>
</html>