<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trivia</title>
        <link rel="stylesheet" href="../Styles/trivia.css">
    </head>
    <body>
        <button onclick="window.location.href = './ProjectList.html';" class="back-button"> 
            <span class="weui--back-filled"></span> Back
        </button>
        <main>
            <hgroup class="score-container">
                <h1 class="current-score"></h1>
                 <h1 class="high-score">Highest Score: 48/50</h1>
            </hgroup>
            <div class="parent-container">
                <div class="child-container">
                    <div class="over-screen">
                        <h1>GAME OVER</h1>
                        <button class="restart-button">Restart</button>
                    </div>
                    <div class="question">
                        <hgroup>
                            <h1>Question</h1>
                            <h3 class="difficulty"></h3>
                        </hgroup>
                        <h2 class="question-asked"></h2>
                    </div>
                    <div class="answers">
                        <div class="selector"></div>  
                        <button></button>
                        <button></button>
                        <button></button>
                        <button></button>
                    </div>
                </div>
            </div>
        </main>
        <script src="../Script/triviaScript.js"></script>
    </body>
</html>