<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Typing Test</title>
        <link rel="stylesheet" href="/Styles/typeStyle.css">
    </head>
    <body>
        <button onclick="window.location.href = './ProjectList.html';" class="back-button"> 
            <span class="weui--back-filled"></span> Back
        </button>
        <h1 class="page-title">
            <span class="bi--keyboard"></span> Typing Test
        </h1>
        <div class="main-container" tabindex="0">
            <h1 class="timer">30</h1>
            <div class="text-container"></div>
            <div class="cursor"></div>
            <div class="activator">Start Typing...</div>
        </div>
        <script src="/Script/typingScript.js"></script>
    </body>
</html>