@import url('https://fonts.cdnfonts.com/css/satoshi');

body{
    font-family: "Satoshi";
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weui--back-filled {
    display: inline-block;
    width: 12px;
    height: 24px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m3.343 12l7.071 7.071L9 20.485l-7.778-7.778a1 1 0 0 1 0-1.414L9 3.515l1.414 1.414z'/%3E%3C/svg%3E");
  }

.back-button{
    all: unset;
    cursor: pointer;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 70px;
    top: 70px;  
}

.calc{
    border: 1px solid black;
    width: 40rem;
    display: flex;
    flex-direction: column;
    height: 370px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.calc .display{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-indent: 20px;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    border: none;
    font-size: 40px;
    background-color: black;
    color: white;
    height: 200px;
}

.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 7fr 7fr 7fr 7fr;
}

.keys .spc-button{
    grid-column: 4/5;
    grid-row: 2/6; 
}

.keys > button{
    font-family: "Satoshi"; 
    border-radius: 0px;
    background-color: white;
    border: .5px solid lightgray;
}

.keys > button:hover{
    background-color: whitesmoke;
    transition: 100ms ease-in;
}

.keys .opPlus,
.keys .opMin,
.keys .opMul,
.keys .opDiv{
    background-color: lightgrey;
    border-right: .5px solid grey;
    border-bottom: .5px solid grey;
}

.keys .opPlus:hover,
.keys .opMin:hover,
.keys .opMul:hover,
.keys .opDiv:hover{
    background-color: gray;
    border: gray;
}

.keys .active,
.keys .active,
.keys .active,
.keys .active{
    background-color: grey;
    border: grey;
}

.keys .spc-button{
    background-color: #fc8464;
    border: #fc8464;
}

.keys .spc-button:hover{
    background-color: #ee6e4a;
    border: #ee6e4a;
}   